<extend name="Public/base1" />

<block name="body">
		<div style="margin-bottom:5px;">
			<h2>统计报表</h2>
		</div>
		<div>
			<img src='__PUBLIC__/Admin/conf/file1.php?data={$data}'/>  
			<img src='__PUBLIC__/Admin/conf/file2.php?data={$data}'/>  	
		</div>
			<div style="margin:5px 0">
			<img src='__PUBLIC__/Admin/conf/file3.php?data={$data1}'/>  
			<img src='__PUBLIC__/Admin/conf/file5.php?data={$data1}'/>  
		</div>
		<div>
			<img src='__PUBLIC__/Admin/conf/file4.php?data={$data2}'/>  
			<img src='__PUBLIC__/Admin/conf/file6.php?data={$data2}'/>  
		</div>
        </div>
</block>