<extend name="Public/base" />

<block name="body">

    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<!-- <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th> -->
		<th class="">id</th>
		<th class="">广告图片</th>
		<th class="">商品名</th>
		<th class="">最后修改时间</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name ="list">
		<volist name="list" id="vo">
		<tr>
           <!--  <td><input class="ids" type="checkbox" name="id[]" value="{$vo.student_id}" /></td> -->
            <td>{$vo.id}</td>
            <td><img style="width: 120px;height: 60px;" src="__ROOT__{$vo.path}"></td>
            <td>{$vo.goods_name}</td>
            <td>{$vo.time}</td>
            <td>{$vo.status_text}</td>
			<td>
				<if condition="$vo.status eq 1">
					<a class="ajax-get confirm" href="{:U('AuthManager/onoff?status=0&id='.$vo['id'])}">禁用 </a>|
				<else />
					<a class="ajax-get" href="{:U('AuthManager/onoff?status=1&id='.$vo['id'])}">启用 </a>|
				</if>
				<a href="{:U('AuthManager/editAdImg?id='.$vo['id'])}">编辑</a>
			</td>
		</tr>
		</volist>
		<else/>
		<td colspan="14" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script type="text/javascript">

	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var status = $("#sch-sort-txt").attr("data");
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if(status != ''){
			query = 'status=' + status + "&" + query;
        }
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});

    //导航高亮
    highlight_subnav('{:U('Parameter/shop')}');
	</script>
</block>
