<extend name="Public/base" />

<block name="body">
    <div class="main-title">
        <h2>编辑管理员</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">用户名<span class="check-tips"></span></label>
            <div class="controls">
                {$manager.username}
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">密码<span class="check-tips"></span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">真实姓名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="realname" value="{$manager.realname}">
            </div>
        </div>
        <div class="form-item">
        	<input name="id" type="hidden" value="{:I('id')}"/>
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('AuthManager/manager')}');
    </script>
</block>
